# 1. Ignore everything by default
*
!*/

# 2. Allow only project files
!*.py
!*.txt
!*.ico
!*.md
!.gitignore

# Screenshots / Images for README
!*.png
!*.jpg
!*.jpeg

# 3. Explicitly ignore cache, builds, and environments
build/
dist/
*.spec
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.idea/
.vscode/
*.tmp
*.log